---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "hero"}}
    {{{region name="home_below_menu"}}}
    {{#if theme_settings.show_carusel}}
        {{#and carousel carousel.slides.length}}
            {{> components/carousel arrows=theme_settings.homepage_show_carousel_arrows play_pause_button=theme_settings.homepage_show_carousel_play_pause_button}}
        {{/and}}
    {{/if}}
    {{{region name="home_below_carousel"}}}
{{/partial}}

{{#partial "page"}}

    {{#each shipping_messages}}
        {{> components/common/alert/alert-info message}}
    {{/each}}

    <div class="main full">
        {{> components/custom/heads-part}}
        <div class="breyker">
            {{> components/custom/info-panels}}
            {{{region name="page_brend_part"}}}
            {{#if products.featured}}
                {{> components/custom/custom-future products=products.featured columns=theme_settings.homepage_featured_products_column_count}}
            {{/if}}
            {{> components/custom/tile-part}}
            {{> components/custom/custom-inst}}
        </div>
    </div>
</div>
{{/partial}}
{{> layout/base}}
