<div class="row-customs">
    <div class="colpadings">
        <div class="customs-brand">
            <div class="grid-brand">
                {{#each (limit categories 3)}}
                    {{#if this.name '!==' 'Full collection'}}
                        <div class="brand-box">
                            <div class="brand-image" style="background-image: url({{getImage image 'category_card_size'}});">
                                <img src="{{getImage image 'category_card_size'}}" alt="{{this.image.alt}}"/>
                                {{#if this.name '===' 'Glasses'}}
                                    <div class="brand-title">{{this.name}}</div>
                                {{/if}}
                            </div>
                            {{#if this.name '===' 'Glasses'}}
                                <div class="brand-text_wrap">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a elit faucibus, vehicula urna sit amet, tincidunt orci. Etiam vitae purus malesuada, luctus orci hendrerit, euismod risus. Morbi vel lacinia ante.</p>
                                    <button class="butoon-brand">
                                        <a href="{{this.url}}">shop full collection</a>
                                    </button>
                                </div>
                            {{/if}}
                        </div>
                    {{/if}}
                    {{#if this.name '===' 'Glasses'}}
                        {{#if this.children}}
                            {{#each (limit this.children 1)}}
                                <div class="brand-box">
                                    <div class="brand-image" style="background-image: url({{getImage image 'category_card_size'}});">
                                        <img src="{{getImage image 'category_card_size'}}" alt="{{this.image.alt}}"/>
                                        <div class="brand-title">{{name}}</div>
                                    </div>
                                </div>
                            {{/each}}
                        {{/if}}
                    {{/if}}
                    {{#if this.name '===' 'Lenses'}}
                        <div class="brand-box">
                            <div class="brand-text_wrap left-side">
                                <h3>new <span class="title-gray">Blue max</span><br>uv protect<br>glasses</h3>
                                <p>Our best selling lens for screen users. Most blue block lenses only block 40% of blue light. Blue Max lenses use the very latest tech to increase this to 70% with the added benefit of 100% UV protection.</p>
                                <button class="butoon-brand">
                                    <a href="{{this.url}}">shop full collection</a>
                                </button>
                            </div>
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
