<div class="white-row bottom-customs_space">
    <div class="row-customs">
        <div class="slider-grid">
            <h2 class="page-heading" id="magicString">You may<br>also like</h2>
            {{#if settings.data_tag_enabled}}
                {{> components/custom/custom-carusel products=products list="Customers Also Viewed"}}
            {{else}}
                {{> components/custom/custom-carusel products=products}}
            {{/if}}
        </div>
    </div>
</div>
