<section class="productCarousel"
    data-list-name="{{list}}"
    data-slick='{
        "infinite": true,
        "arrows": false,
        "dots": false,
        "slidesToShow": 3,
        "slidesToScroll": 1,
        "slide": "[data-product-slide]",
        "responsive": [
            {
                "breakpoint": 800,
                "settings": {
                    "slidesToShow": 2,
                    "slidesToScroll": 1,
                    "centerMode": true
                }
            },
            {
                "breakpoint": 550,
                "settings": {
                    "slidesToShow": 1,
                    "slidesToScroll": 1
                    
                }
            }
        ]
    }'
>
    {{#each products}}
    <div data-product-slide class="productCarousel-slide">
        {{> components/products/card settings=../settings theme_settings=../theme_settings customer=../customer event="list" position=(add @index 1)}}
    </div>
    {{/each}}
    {{#if products.length '>' 1}}
        {{> components/carousel-content-announcement}}
    {{/if}}
</section>
