<div class="info-section">
    {{#if product.description}}
    <div class="info-wrapers">
        <p class="info-titles">{{lang 'products.description'}} 
            <span class="rotate-open togle-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <path d="M8 1V15M1 8H15" stroke="#1B1E1F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </span>
        </p>
        <div class="hiden-descript expand show__this">{{{product.description}}}</div>
    </div>
    {{/if}}
    {{#if theme_settings.show_custom_product_info}}
        {{#if product.custom_fields}}
            {{#each product.custom_fields}}
                <div class="info-wrapers">
                    <p class="info-titles">{{this.name}}
                        <span class="togle-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                <path d="M8 1V15M1 8H15" stroke="#1B1E1F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </span>
                    </p>
                    <div class="hiden-descript expand"><p>{{{this.value}}}</p></div>
                </div>
            {{/each}}
        {{/if}}
    {{/if}}
</div>
