<div class="header__part">
    <div class="part-wrap">
        <div class="part-block">
            <div class="part-text_top">
                <h2>Designed in London made in Italy</h2>
            </div>
            <div class="part-text_bot">
                <p>explore cubo <span></span></p>
            </div>
        </div>
        <div class="part-arrow_down">
            <a id="scrollDown">
                <img src="{{cdn 'img/arrow_down.png'}}" alt="arrow-down">
            </a>
        </div>
    </div>
</div>
