// =============================================================================
// BRAND-COMPONENT (CSS)
// =============================================================================
.brand-image{
    max-width: 600px;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 62px;
    position: relative;

    img{
        height: 0;
        width: 0;
    }
}
.grid-brand{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    row-gap: 20px;

    @include breakpoint("xxsmall") {
        grid-template-columns: 1fr;
    }

    @include breakpoint("medium") {
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }
    @include breakpoint("large") {
        column-gap: 100px;
    }
}
.brand-box{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    align-self: center;
    justify-self: center;
}
.brand-text_wrap{
    text-align: right;
    padding-bottom: 20px;
    padding-top: 60px;

    @include breakpoint("xxsmall") {
        padding-top: 0px;
    }

    @include breakpoint("medium") {
        padding-top: 60px;
    }

    p{
        font-size: 16px;
        line-height: 30px;
        width: 100%;
        padding: 38px 0;
        max-width: 357px;
        margin: 0 0 0 auto;
    }

    h3{
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-size: 32px;
        line-height: 50px;
        font-weight: fontWeight("normal");
    }

    a{
        text-decoration: none;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 16px;
        font-weight: fontWeight("normal");

        &::after {
            display: block;
            width: 53px;
            content: '';
            position: absolute;
            right: 220px;
            border-bottom: 1px solid stencilColor('text-color-p');
            top: 50%;
        }
    }
}
.brand-title{
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-weight: fontWeight("medium");
    position: absolute;
    right: 21px;
    bottom: 21px;
}
.left-side {
    text-align: left;
    margin: unset;

    .butoon-brand {
        text-align: left;
    }

    p {
        margin: 0 auto 0 0;
    }

    a {
        &::after {
            left: 220px;
        }
    }
}
.butoon-brand {
    display: block;
    width: 100%;
    position: relative;
    text-align: right;
}
.title-gray {
    color: lightgray;
}
