// =============================================================================
// CUSTOM-SLIDER (CSS)
// =============================================================================
.slider-grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 60px 0;
    row-gap: 20px;
    column-gap: 70px;

    @include breakpoint("xxsmall") {
        grid-template-columns: 1fr;

        .slick-list {
            padding:0 33% 0 0;
        }
    }

    @include breakpoint("small") {
        grid-template-columns: 1fr 3fr;

        .slick-list {
            padding:unset;
        }
    }
    
    *{
        align-self: center;
        justify-self: center;
    }

    .card-body{
        text-align: center;
    }

    .card-title{

        a{
            color: #757575;
            font-weight: fontWeight("normal");
        }
    }

    .page-heading{
        align-items: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        padding: 0 30px;
        font-size: 32px;
        line-height: 50px;
        margin: 50px 0 0 0;
        width: 100%;
        text-align: left;
        font-weight: fontWeight("normal");
        justify-self: left;
        position: relative;

        &::after {
            display: block;
            width: 53px;
            content: '';
            position: absolute;
            left: 220px;
            border-bottom: 1px solid stencilColor('text-color-p');
            top: 50%;
        }
    }

    .card-img-container{
        max-height: 230px;
    }
}
