// =============================================================================
// CUSTOM-TILE(CSS)
// =============================================================================
.grid-tile{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    padding-top: 60px;

    @include breakpoint("xxsmall") {
        grid-template-columns: 1fr;
    }

    @include breakpoint("medium") {
        grid-template-columns: repeat(3, 1fr);
    }

    img {
        width: 0;
        height: 0;
    }
}
.tile-image{
    background-size: cover;
    max-width: 425px;
    width: 100%;
    height: 580px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin: 0 auto;
    transition: ease .7s all;

    &:hover{
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        transition: ease .7s all;
    }
}

.tile-title{
    position: absolute;
    width: 100%;
    padding: 0 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    p{
        color: #fff;
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }
    h3{
        color: #fff;
        font-weight: normal;
        font-size: 32px;
        line-height: 50px;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        @include breakpoint("medium") {
            font-size: 28px;
            line-height: 46px
        }

        @include breakpoint("large") {
            font-size: 32px;
            line-height: 50px;
        }
    }
}
