// =============================================================================
// CUSTOM-INST(CSS)
// =============================================================================
.slide-wrap{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;

    .slick-list{
        margin: 0 auto;
    }
}
.social-parts{
    padding-top: 60px;
}
.inst-slide_img{
    max-width: 244px;
    width: 100%;
    height: 244px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;

    @include breakpoint("xxsmall") {
        max-width: 200px;
        height: 170px;
    }

    @include breakpoint("large") {
        max-width: 244px;
        height: 244px;
    }

    img{
        width: 0;
        height: 0;
    }
}
.social-parts{
    
    h3{
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-size: 24px;
        line-height: 40px;
        font-weight: fontWeight("normal");
        color: stencilColor('color-theme-prime');
        padding-bottom: 50px;
        
        img{
            padding-right: 10px;
        }
    }

    a{
        text-decoration: none;
    }

    span{
        color: #D7C7B5;
    }
}
