// =============================================================================
// INFO-PRODUCT (CSS)
// =============================================================================
.info-wrapers{
    border-bottom: 1px solid #D7C7B5;
}
.info-titles{
    font-size: 18px;
    line-height: 60px;
    margin-bottom: unset;
    cursor: pointer;
    position: relative;

    span{
        position: absolute;
        right: 10px;
    }
}
.hiden-descript{

    p{
        font-size: 14px;
        line-height: 22px;
        border-color: stencilColor('mein-color');
    }
}
.rotate-open{
    transform: rotate(45deg);
    transition: ease .7s all;
}
.togle-icon{
    transition: ease .7s all;
}
.modal-slide-hid{
    height: 600px;
    max-width: 770px;
    width: 100%;
    min-height: 500px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
}
#producrtSlide{
    height: 100%;
}
.slide-init {
    height: 100%;
}
.slid-modal{
    width: 100%;
    height: 500px;
    background-size: 100% auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.close-slide{
    font-size: 28px;
    text-align: right;
    cursor: pointer;
}
