// =============================================================================
// LABEL-INFO (CSS)
// =============================================================================
.container-part{
    width: 100%;
    @include breakpoint("xxsmall"){
        padding-top: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }
    @include breakpoint("medium") {
        padding-top: 0;
        padding-left: 0px;
        padding-right: 0px;
    }
    &::after {
        content: " ";
        display: block;
        width: auto;
        height: 1px;
        background: #D7C7B5;
        margin-top: 30px;
    }
}
.bar-lists{
    list-style: none;
    text-align: center;
}
.bar-list{

    &::after {
        content: " ";
        background: #847A6E;
        width: 1px;
        height: 12px;
        float: right;
        margin-left: 15px;
        margin-top: 4px;
    }
    @include breakpoint("xxsmall") {
        display: block;
        padding-bottom: 10px;
        &::after {
            content: " ";
            width: 0px;
            height: 0px;
        }
    }
    @include breakpoint("medium") {
        display: inline-block;
        padding: 0 15px 10px;
        &::after {
            content: " ";
            width: 1px;
            height: 12px;
        }
    }
}
.last_list-bar{
    
    &::after {
        content: " ";
        width: 0px;
        height: 0px;
    }
}
.bar-link{
    text-decoration: none;
    color: #847A6E;
    font-size: 14px;
    line-height: 16px;
    font-weight: fontWeight("medium");
    text-transform: uppercase;
}
.bar-list img{
    padding-right: 10px;
}
