// =============================================================================
// PRODUCT-CUSTOM (CSS)
// =============================================================================
.product-custom{
    padding: 0 0 25px 0;
    .form-option-wrapper{
        padding-top: 10px;
        
        .form-option-variant {
            height: 38px;
            width: 38px;
            border-radius: 50%;
            padding: 1px;
        }
        .form-option-swatch{
            padding: 3px;
        }
        .form-radio:checked {
            + .form-option {
                border-color: stencilColor('mein-color');
                border-radius: 50%;
                box-shadow: unset;
            }
        }
    }
    .productView-title{
        font-weight: fontWeight("thin");
        font-size: 48px;
        line-height: 56px;
        color: stencilColor('mein-color');
    }
    .price-section {
        font-size: 24px;
        line-height: 28px;
        color: stencilColor('mein-color');;
        font-weight: 700;

        .pre_price{
            font-weight: fontWeight("thin");
        }
    }
    .productView-product{
        position: relative;
    }
    .form-wishlist{
        position: unset;
    }
    .form-label--inlineSmall{
        font-size: 16px;
        line-height: 19px;
        color: stencilColor('mein-color');

        > span {
            color: stencilColor('info-bar-color');
        }
    }
    .form-field--increments{
        display: flex;
        align-items: center;
    }
    .form-increment{
        padding-left: 10px;
    }
    .productView-product{
        border-bottom: unset;
        padding-bottom: unset;
    }
    .productView-details{
        padding-bottom: 8.5px;
    }
    .form-label--alternate{
        color: stencilColor('mein-color');
        margin-bottom: 0;
        font-size: 16px;
    }
    .button--icon{
        padding: 8px 10px;
        background-color: #fff;
        border-color: #C9CED3;
        color: #9DA3A8;

        svg{
            fill: #9DA3A8;
        }
    }
    .form-input--incrementTotal{
        background-color: #fff;
        border-top: 1px solid #C9CED3;
        color: stencilColor('mein-color');
        border-bottom: 1px solid #C9CED3;
        padding: 7px 0;
    }
    .form-action{
        width: 100%;
    }
    #form-action-addToCart{
        max-width: 377px;
        width: 100%;
        background-color: #89A999;
        border-radius: 2px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #fff;
        border: unset;
        font-size: 14px;
        line-height: 16px;
        font-weight: fontWeight("normal");
    }
    .productView-options{
        margin-bottom: unset;
        text-align: left;
    }
    .productView{
        display: grid;
        grid-template-columns: 63% 1fr;
        column-gap: 30px;
        width: 100%;
        margin: 0 auto;

        &::before{
            display: none;
        }
        &::after{
            display: none;
        }
        .productView-images{
            width: 100%;
        }
        .productView-details{
            width: 100%;
        }
        @include breakpoint("xxsmall") {
            grid-template-columns: 1fr;
            row-gap: 30px;
        }
        @include breakpoint("small") {
            grid-template-columns: 1fr 1fr;
            column-gap: 10px;
        }
        @include breakpoint("large") {
            grid-template-columns: 64% 1fr;
        }
    }
}
.bottom-customs_space{
    margin-bottom: -6em;
}
.wishlist-button{
    position: absolute;
    top: 23px;
    right: 0;

    svg{
        width: 24px;
        height: 21px;
    }
}
.info-text{
    display: flex;
    align-items: center;
    text-align: left;

    p{
        margin-bottom: 0;
        font-size: 16px;
        line-height: 24px;
        color: stencilColor('mein-color');
    }

    .info-svg{
        padding-right: 10px;

        svg{
            height: 20px;
            width: 20px;
        }
    }
}
.add-info{
    border-bottom: 1px solid #D7C7B5;
}
.info-block{

    p{
        margin: 0;
        color:  #847A6E;
        line-height: 36px;
        font-size: 16px;

        span{
            font-weight: bold;
        }
    }
}
.product-galery-grid{

    .galery-box{

        .image-wrap{
            background-size: cover;
            max-width: 770px;
            height: 708px;
            width: 100%;
            background-position: center;
            margin: 0 auto;
            text-align: center;
            background-repeat: no-repeat;

            @include breakpoint("xxsmall") {
                height: 354px;
            }
            @include breakpoint("large") {
                height: 708px;
            }
        }

        img{
            height: 0;
            width: 0;
        }
    }
    .box-g-0{
        grid-area: first;
    }
    .box-g-1{
        grid-area: midle-1;
        .image-wrap{
            height: 354px;
        }
    }
    .box-g-2{
        grid-area: midle-2;
        .image-wrap{
            height: 354px;
        }
    }
    .box-g-3{
        grid-area: last;
    }

    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
    grid-template: "first first"
                    "midle-1 midle-2"
                    "last last";
    column-gap: 40px;

    @include breakpoint("xxsmall") {
        grid-template-columns: 1fr;
        grid-template: "first"
                    "midle-1"
                    "midle-2"
                    "last";
    }
    @include breakpoint("small") {
        grid-template-columns: 1fr 1fr;
        grid-template: "first first"
                    "midle-1 midle-2"
                    "last last";
    }
    @include breakpoint("large") {
        grid-template-columns: 1fr 1fr;
        grid-template: "first first"
                    "midle-1 midle-2"
                    "last last";
    }
}
.cart{
    .form-input--incrementTotal{
        background-color: #fff;
        border-top: 1px solid #C9CED3;
        color: stencilColor('mein-color');
        border-bottom: 1px solid #C9CED3;
        padding: 7px 0;
    }
    .button--icon{
        padding: 8px 10px;
        background-color: #fff;
        border-color: #C9CED3;
        color: #9DA3A8;
        margin: 0 -3px;

        svg{
            fill: #9DA3A8;
        }
    }
}
